.outer-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #1a1a1a;
  background-color: white;
  transition: all 1s ease;
  overflow: hidden;
  border-radius: 20px;
  width: 60%;
  height: 65%;
}

.left-container {
  height: 100%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: #D4AF37;
  font-size: 2rem;
}

.left-container > h3 {
  margin: 0;
}

.left-container > .account {
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
}

.right-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-fields input {
  height: 2rem;
  margin: 1rem 0;
  padding: 0 0 0 10px;
  width: 22vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner-container.login-mode {
  flex-direction: row;
}

.inner-container.register-mode {
  flex-direction: row-reverse;
}

.left-container,
.right-container {
  width: 50%;
  padding: 40px;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}

.login-mode .left-container {
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.register-mode .left-container {
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.register-button,
.login-button {
  background-color: #1a1a1a !important;
  color: #fff !important;
  border: 1px solid #1a1a1a !important;
}

.login-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0.5rem 0 1.5rem 0 !important;
}

.register-button:hover,
.login-button:hover {
  background-color: #282727 !important;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.forgot-password {
  cursor: pointer;
}

.forgot-password:hover {
  color: #575656;
}

.forgot-password-container {
  height: 50%;
  width: 25%;
  background-color: #fdffff;
  position: absolute;
  z-index: 1;
  border-radius: 2rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.forgot-password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  margin-top: 1rem;
}

.google-container,
.amazon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  margin: 0.2rem 0;
}

.google-icon,
.amazon-icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
}

.google-container:hover {
  cursor: pointer;
  background-color: #282727;
}

@media screen and (max-width: 768px) {
  .inner-container {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {
  .inner-container.login-mode {
    flex-direction: column;
    height: 80%;
    position: absolute;
    top: 8rem;
  }
  .login-mode .left-container {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30%;
  }
  .left-container {
    padding: 0 0 0px;
    height: 65%;
    width: 100%;
    font-size: 1.5rem;
  }
  .left-container > .account {
    margin: 1rem 0;
  }
  .right-container > .heading {
    font-size: 2rem;
    margin: 0rem 0 1rem 0;
  }
  .right-container {
    padding: 5px;
    width: 100%;
  }
  .input-fields {
    width: 80%;
  }
  .input-fields form input {
    width: 100%;
  }
  .inner-container.register-mode {
    flex-direction: column-reverse;
    height: 85%;
    padding: 0;
  }
  .register-mode .left-container {
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 0%;
  }
}
@media screen and (max-width: 321px) {
  .inner-container.login-mode {
    width: 85%;
  }
}
.inner-container:hover {
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    border-color: #ff4d4d;
    box-shadow: 0 0 5px #ff4d4d;
  }
  50% {
    border-color: #ffbb33;
    box-shadow: 0 0 10px #ffbb33;
  }
  100% {
    border-color: #33ff77;
    box-shadow: 0 0 15px #33ff77;
  }
}/*# sourceMappingURL=Auth.css.map */