p {
    margin: 0;
}

.innerMostProDiv1>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 0.75rem;
    border: 3px solid #12d1aa;
}

.outerProDiv1 {
    margin-top: 2rem;
}

.innerProDiv1 {
    margin-left: 1rem;
    text-align: center;
}

.innerProDiv1>p {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    color: #fff;
}

.innerProDiv1>hr {
    border: 1px solid green;
    width: 15rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.innerProDiv2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.innerMostProDiv1 {
    border: 2px solid #004B49;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #bef4d9;
    transition: box-shadow 0.3s ease-in-out;
}

.innerMostProDiv1:hover {
    box-shadow: 5px 5px 5px rgb(57, 159, 57);
}

.product-name {
    font-size: 1.3rem;
    font-weight: 500;
    color: #004B49;
}

.product-description {
    color: #026e59;
    font-size: 1.1rem;
    font-weight: 400;
}

.product-rating {
    margin-bottom: 0.5rem;
}

.innerMostProDiv2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-price {
    color: #004B49;
    font-size: 1.2rem;
}

.buy-now {
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    border: 2px solid #004B49;
    cursor: pointer;
    background-color: #12d1aa;
    color: #004B49;
    font-weight: 600;
    transition: box-shadow 0.3s ease-in-out;
}

.buy-now:hover {
    box-shadow: 1px 1px 6px 1px #004B49;
}