body {
    /* padding-top: 5.25rem; */
    /* cursor: none; */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.blurred{
    filter: brightness(0.5);
    pointer-events: none;
}

.filter-items-AllPro{
    filter: none !important;
    pointer-events: auto !important;
}

.navBarBlurred {
    filter: brightness(0.4);
    pointer-events: none;
}

.innerNavDiv4 {
    filter: none !important;
    pointer-events: auto !important;
}