body {
    /* padding-top: 5.25rem; */
    /* cursor: none; */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

/* .blurred {
    filter: brightness(0.5);
    pointer-events: none;
} */

.filter-items-AllPro {
    filter: none !important;
    pointer-events: auto !important;
}

/* .navBarBlurred {
    filter: brightness(0.4);
    pointer-events: none;
} */

/* .innerNavDiv4 {
    filter: none !important;
    pointer-events: auto !important;
} */
/* 
body.blurred {
    overflow: hidden;
}

body.blurred::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
} */